.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .top-nav {
    height: 10%;
    padding: 0% 2% 0% 2%;
    top: 0;
    background-color: white;
    .example-fill-remaining-space {
      /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
      flex: 1 1 auto;
    }
    section {
      display: flex;
      flex-direction: row;
      .unregistered-user-button-row .mat-mdc-button-base {
        max-width: 600px;
        margin: 10% 10% 10% 0%;
      }
    }
  }

  .top-nav,
  .bottom-nav {
    position: relative;
    z-index: 1000;
  }
  .bottom-nav {
    bottom: 0;
    height: 5%;
  }

  .container-fluid {
    height: 90%;
    flex: 1 1 auto;
    padding: 0%;
    margin: 0%;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    .container-nav {
      height: 100%;
      width: 100%;
    }
    .sidenavList {
      height: 50%;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .sidenav-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      height: 20%;
      border-radius: 0%;
      .nav-icon {
        font-weight: bolder;
      }
    }
    .sidenav-item-selected {
      background-color: #ebeaea; /* Change background color to indicate selection */
    }
  }
}
