<div class="tutor-page">
    <div class="tutor-container">
        <div class="tutor-card">
            <div class="tutor-card-header">
                <img class="tutor-card-image" mat-card-image src="{{tutor.photo}}" alt="tutor-image">
                <div class="tutor-card-details">
                    <div class="tutor-card-details-name">
                        {{tutor.firstName}}
                    </div>

                    <div class="tutor-card-details-group">
                        <div class="tutor-card-details-item education">
                            <mat-icon inline=true>school</mat-icon>
                            <p>{{tutor.education}}</p>
                        </div>


                        <div class="tutor-card-details-item languages">
                            <mat-icon inline=true>language</mat-icon>
                            <p>{{ tutor.additionalLanguages | levelDescription }}</p>
                        </div>

                        <div class="tutor-card-details-item location">
                            <mat-icon inline=true>location_on</mat-icon>
                            <p>{{tutor.country}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="description">{{tutor.description}}</div>
        </div>
        <div class="tutor-booking">
            <div class="tutor-calendar">
                <mat-card class="calendar-card">
                    <mat-calendar [minDate]="startDateCalendar" [maxDate]="endDateCalendar"></mat-calendar>
                </mat-card>
            </div>

            <div class="calendar-booking-times">
                <!-- Selectable time slots -->
                <button mat-button class="calendar-booking-time-slot" *ngFor="let time of availableTimes"
                    (click)="selectTime(time)">
                    {{ time }}
                </button>
            </div>

            <form #bookingForm="ngForm" class="booking-form" (ngSubmit)="onSubmit()">

                <div class="form-group booking-message">
                    <label for="message">Message</label>
                    <textarea class="form-control booking-message-textarea" id="message"
                        [(ngModel)]="bookingModel.message" name="message"></textarea>
                </div>

                <button mat-flat-button color="primary" [disabled]="!bookingForm.form.valid"
                    class="tutor-booking-button">Book
                    Now</button>

            </form>


        </div>

    </div>