.change-password-form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  height: 100%;
  padding-top: 10%;
  .form-group {
    margin-top: 2%;
    width: 60%;
  }

  .mandatory {
    color: red;
    margin-left: 5px; /* Adjust spacing as needed */
  }
  .btn.btn-success {
    margin-top: 5%;
    width: 8%;
  }
  .ng-valid[required],
  .ng-valid.required {
    border-left: 5px solid #42a948; /* green */
  }

  .ng-touched.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
  }
}
