<form #changePasswordForm="ngForm" class="change-password-form" (ngSubmit)="onSubmit()">
    <div class="login-failed" [hidden]="!changePasswordFailed"> Incorrect old password </div>

    <div class="form-group">
        <label for="old-password">Old password <span class="mandatory">*</span></label>
        <input type="password" class="form-control" id="old-password" required
            [(ngModel)]="changePasswordModel.oldPassword" name="old-password" #oldPassword="ngModel">
    </div>

    <div class="form-group">
        <label for="new-password">New password <span class="mandatory">*</span></label>
        <input type="password" class="form-control" id="newPassword" required
            [(ngModel)]="changePasswordModel.newPassword" name="new-password" #newPassword="ngModel">
    </div>

    <div class="form-group">
        <label for="confirm-new-password">Confirm new password <span class="mandatory">*</span></label>
        <input type="password" class="form-control" id="confirm-new-password" required
            [(ngModel)]="changePasswordModel.confirmNewPassword" name="confirm-new-password"
            #confirmNewPassword="ngModel">
        <div *ngIf="(newPassword.dirty && confirmNewPassword.dirty && newPassword.value!==confirmNewPassword.value)"
            class="alert alert-danger">
            Passwords do not match
        </div>
    </div>


    <button type="submit" class="btn btn-success" [disabled]="!changePasswordForm.form.valid">Submit</button>
</form>