<div class="account-page">
    <mat-drawer-container class="container-nav mat-typography">
        <mat-drawer class="nav-drawer" #drawer mode="side" disableClose="true" opened="true">
            <mat-nav-list class="account-menu">
                <button [disabled]="tab.name==''" mat-button *ngFor="let tab of tabsArray"
                    (click)="onChangeTab(tab.key)" class="menu-item"
                    [class.menu-item-selected]="selectedTabKey === tab.key">
                    {{ tab.name }}
                    <!-- <mat-icon iconPositionEnd>{{tab.icon}}</mat-icon> -->
                </button>
            </mat-nav-list>
        </mat-drawer>

        <div class="account-tab">
            <!-- Use *ngIf to conditionally render the selected tab component -->
            <ng-container *ngComponentOutlet="selectedTabComponent"></ng-container>
        </div>
    </mat-drawer-container>
</div>