<div class="home-page">
    <div class="main">
        <div class="main-text title">Learn a new language from anywhere</div>
        <div class="main-text description">Some more text na Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptate eos suscipit molestiae ab aut repudiandae voluptas dolores. Fugit consectetur, quam, sequi
            dignissimos sit sapiente doloremque, officia eveniet dolorum cupiditate consequatur?</div>
        <img mat-card-image src="../../../assets/Laptop-main.png" alt="Reason image">
    </div>
    <div class="statistics">
        <div class=statistic-block>
            <div class="statistic-number">{{studentCount}}</div>
            <div class="statistic-text">Students</div>
        </div>
        <div class=statistic-block>
            <div class="statistic-number">{{tutorCount}}</div>
            <div class="statistic-text">Tutors</div>
        </div>
        <div class=statistic-block>
            <div class="statistic-number">{{classCount}}</div>
            <div class="statistic-text">Classes</div>
        </div>
        <div class=statistic-block>
            <div class="statistic-number">{{languagesCount}}</div>
            <div class="statistic-text">Languages</div>
        </div>
    </div>

    <div class="reasons-section">
        <div class="reasons-section-title">Why Choose TalkTrek?</div>
        <div class="reasons">
            <div class="reason-block">
                <!-- <img mat-card-image src="../../../assets/good-feedback.png" alt="Reason image"> -->
                <div class="reason-title">Proven Success: 90% of Students Achieve Their Language Goals</div>
                <div class="reason-description">Our immersive language learning approach is based on real-life
                    situations and interactions. Our experienced tutors
                    provide personalized lessons that focus on your specific needs and goals. With TalkTrek, you'll be
                    speaking a new
                    language in no time!</div>
            </div>
            <div class="reason-block">
                <!-- <img mat-card-image src="../../../assets/online-tutor.jpg" alt="Reason image"> -->
                <div class="reason-title">Native chuchors</div>
                <div class="reason-description"> You'll practice your new language skills with
                    native-speaking tutors who will help you improve your pronunciation, grammar, and vocabulary. With
                    TalkTrek, you'll be
                    able to communicate effectively in any situation!</div>
            </div>
            <div class="reason-block">
                <!-- <img mat-card-image src="../../../assets/online-tutor.jpg" alt="Reason image"> -->
                <div class="reason-title">Something like free demo lesson to help you choose the best match</div>
                <div class="reason-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, enim
                    nihil nemo nam quasi velit aliquid tempore sapiente? Officiis quam dolores voluptatum vero pariatur
                    dignissimos accusantium. Corrupti laborum accusamus dignissimos.</div>
            </div>
            <div class="reason-block">
                <!-- <img mat-card-image src="../../../assets/online-tutor.jpg" alt="Reason image"> -->
                <div class="reason-title">Top Language Exam Prep</div>
                <div class="reason-description">Our experienced tutors can help you prepare for top language exams like
                    TOEFL, IELTS, DELE, and more. With personalized
                    lessons and expert guidance, you'll be fully prepared to ace your exam and achieve your language
                    goals.</div>
            </div>
        </div>
    </div>
</div>