<div class="main-container">
  <mat-toolbar color="primary" class="top-nav">
    <span><a class="nav-link " routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        TalkTrek</a></span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <section>
      <div class="unregistered-user-button-row">
        <button mat-button routerLink="/account/login" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Login</button>
        <button mat-button routerLink="/account/register" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Register</button>
      </div>
    </section>
  </mat-toolbar>


  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>


  <mat-toolbar class="bottom-nav" hidden=true color="primary">
    <span><a class="nav-link " routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        TalkTrek 2024</a></span>


  </mat-toolbar>
</div>