.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 0px;
  height: 100%;

  .form-group {
    margin-top: 7%;
    width: 80%;
    border-radius: 0%;
  }

  .btn.btn-success {
    margin-top: 10%;
  }

  .mandatory {
    color: red;
    margin-left: 5px; /* Adjust spacing as needed */
  }

  .ng-valid[required],
  .ng-valid.required {
    border-left: 5px solid green;
  }

  .ng-touched.ng-invalid:not(form) {
    border-left: 5px solid red;
  }
}

.login-failed {
  color: darkred;
  background: pink;
  width: 80%;
}

.email-confirmed {
  color: green;
}
