/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
  display: flexbox;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #ff0000; /* Change to your custom color */
}
