<div class="search-page">
    <mat-drawer-container class="container-nav mat-typography">
        <mat-drawer class="nav-drawer" #drawer mode="side" opened="true">
            <mat-nav-list class="filters-pane">
                <button mat-button class="filter-item">
                    aaa
                    <!-- <mat-icon iconPositionEnd>{{tab.icon}}</mat-icon> -->
                </button>
            </mat-nav-list>
        </mat-drawer>

        <div class="search-tab">
            <!-- Use *ngIf to conditionally render the selected tab component -->
            <ng-container>

                bbb
            </ng-container>
        </div>
    </mat-drawer-container>

</div>